@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Roboto');

body
{
  font-family: 'Merriweather', serif;
  font-weight: 300;
  background-color: #872754;
}
.answers li {
list-style: upper-alpha;
}

label {
margin-left: 0.5em;
cursor: pointer;
}

#results {
background: #872754;
color: white;
font-family: 'Roboto', sans-serif;
padding: 5px;
text-align: center;
width: 200px;
cursor: pointer;
border-radius: 5px;
}

#results:hover {
background: #black;
color: #ffffff;
padding: 5px;
text-align: center;
width: 200px;
cursor: pointer;
box-shadow: 0 0 5px black;
transition: 0.5s;
}

#categorylist {
margin-top: 6px;
display: none;
}

#category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 {
display: none;
}

#closing {
display: none;
font-style: italic;
}

.container-title
{
  background-color: #41001F;
  color: #ffecdb;
  font-size: 2.5vw;
  margin: 3%;
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 5px black;
  text-shadow: 5px 5px black;

}
.container-title:hover
{
  box-shadow: 0 0 5px black;
  transition: 0.25s;
}
p
{
  font-family: 'Roboto', sans-serif;
}
ul
{
  font-family: 'Roboto', sans-serif;
}
.container-content
{
  display: none;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #630D36;
  color: #ffecdb;
  padding: 2%;
  box-shadow: 0 0 5px black;
  text-shadow: 2px 2px 10px black;
}

img
{
  max-width:100%;
}
.container-content:hover
{
  box-shadow: 0 5px 5px black;
  transition: 0.5s;

}

.container-heading
{
  background-color: #41001F;
  color: #ffecdb;
  font-size: 2vw;
  margin: 5%;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 5px black;
  text-shadow: 2px 2px 10px black;
  cursor: pointer;
}

.container-heading:hover
{
  box-shadow: 0 7px 5px black;
  transition: 0.5s;
}

img
{
  background-color: white;
}

tooltip
{
  text-decoratio  n: underline grey;
  color: grey;
}

tooltip:hover
{
  text-decoration: none;
  color: white;
}

tooltip span
{
  display: none;
}

tooltip:hover span
{
  display: inline-flex;

}

span
{
  position: fixed;
  width: 200px;
  background: white;
  height: 50%;
  right: 50px;
  top: 50px;
  color: black;
  padding: 0 5px;
  z-index: 500;
  text-shadow: none;
  border-radius: 5px;
  transition: 1s;
}
